html
  head
    title Smart Tab Mute - Options
    link(href="css/options.css" rel="stylesheet" type="text/css")
  body
    form.options
      .option
        label
          | Tabs including the following URLs will be ignored by Smart Tab Mute
          textarea(name="ignoreList" rows="5")
          .hint Use this for sites playing short sounds for notifications or games
        
      .option
        label
          input(type="checkbox" name="unmuteLastTab")
          |  Unmute last tab
          .hint Unmutes the previously muted tab
          
    
    script(src="js/options.js" type="text/javascript")
