html
  head
    title Smute - Options
    link(href="css/options.css" rel="stylesheet" type="text/css")
  body
    form.options
      .option
        label
          | Tabs including the following URLs will not mute other tabs
          textarea(name="ignoreList" rows="5")
          .hint One URL per line. Usefull for notification sounds like Facebook Messenger or Slack.
        
      .option
        label
          input(type="checkbox" name="unmuteLastTab")
          |  Unmute last tab
          .hint Unmutes the last active tab before you opened a new one using audio.
          
    
    script(src="js/options.js" type="text/javascript")
